.planeImageContainer {
    height: 150px;
    width: 400px;
}

.planeImage {
    height: 100%;
    width: 100%;
}

.flightDetailsDiv {
    width: 500px;
    padding: 16px 2px 16px 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.flightDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.selectedButton {
    background-color: rgba(255,255,255, 0.1);
}