.planeImage {
    height: 150px;
    width: 220px;
}

.flightDetailsDiv {
    width: 500px;
    padding: 2px 2px 16px 16px;
}

.flightDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}