.planeImage {
    height: 150px;
    width: 220px;
}

.flightDetailsDiv {
    width: 500px;
    padding: 16px 2px 16px 16px;
    position: fixed;
    bottom: 0;
    right: 0;
}

.flightDetailsRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonRow {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}